
.btn{
    margin-left: 20px;
    margin-right: 20px;
    background-color: blue;

}
.example-spacer {
    flex: 1 1 auto;
  }
.icon{
    color: white;
}

mat-sidenav-container{
    height: calc(205vh - 115vh);
}

mat-sidenav{
    width: 180px;
    background-color: blue;
}