<mat-toolbar style="background-color: cyan">
    <mat-toolbar-row>
      
  
      <h1>Nome Community</h1>
  
      <button mat-mini-fab class="btn" routerLink="/" style="margin-left: 20px">
        <mat-icon class="icon"></mat-icon>
        iscriviti
      </button>
      <button mat-mini-fab class="btn" routerLink="/" style="margin-left: 20px">
        <mat-icon class="icon"></mat-icon>
        ordina per
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="anchored-div">
    <!-- Your content here -->
    community description
</div>
  <app-post></app-post>

 